*, *::before, *::after {
    box-sizing: border-box;
    /* outline: 1px solid blue; */
}

body {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.justify-content-start {
    justify-content: flex-start;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}

.align-items-start {
    align-items: flex-start;
}
.align-items-center {
    align-items: center;
}

.flex-cloumn {
    flex-direction: column;
}


.mr-20 {
    margin-right: 20px;
}
.mr-32 {
    margin-right: 32px;
}
.mr-48 {
    margin-right: 48px;
}
.mr-64 {
    margin-right: 64px;
}

.mb-2 {
    margin-bottom: 8px;
}
.mb-4 {
    margin-bottom: 16px;
}
.mb-6 {
    margin-bottom: 24px;
}


.fs-36 {
    font-size: 36px;
}
.fs-29 {
    font-size: 29px;
}