<footer class="footer">
    <div class="container-footer d-flex justify-content-between">
        <div class="d-flex justify-content-between footer-menu">
            <ul class="d-flex footer-menu-list">
                <li class="mr-48"><a href="#">首頁</a></li>
                <li class="mr-48"><a href="#">系列鏡框</a></li>
                <li class="mr-48"><a href="#">門市據點</a></li>
                <li class="mr-48"><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>
            <ul class="footer-contact">
                <li class="d-flex align-items-center">
                    <span class="material-symbols-outlined fs-36 mr-20">call</span>
                    <a href="tel:0800-000-00">0800-000-00</a>
                </li>
                <li class="d-flex align-items-center">
                    <span class="material-symbols-outlined fs-36 mr-20">mail</span>
                    <a href="mailto:glasses@business.com">glasses@business.com</a>
                </li>    
            </ul>
        </div>
        <div class="social-list">
            <ul class="d-flex">
                <li class="mr-32 mb-mr-16"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="fb"></a></li>
                <li class="mr-32 mb-mr-16"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="ig"></a></li>
                <li><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="line"></a></li>
            </ul>
        </div>
    </div>

    <div class="container-footer">
        <div class="d-flex flex-wrap justify-content-between footer-copyright">
            <div class="copyright sm-mb-8">
                <span class="copyright-txt">Copyright © 2020 Glasses.All rights reserved.</span>
            </div>

            <ul class="d-flex justify-content-between privacy">
                <li class="mr-48"><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>