<div class="page-num">
    <div class="container">
      <ul class="page-num-list d-flex justify-content-center">
        <li class="page-prev"><a href="#">上一頁</a></li>
        <li class="page-number"><a href="#">1</a></li>
        <li class="page-number current"><a href="#">2</a></li>
        <li class="page-number"><a href="#">3</a></li>
        <li class="page-number"><a href="#">4</a></li>
        <li class="page-number"><a href="#">5</a></li>
        <li class="page-next"><a href="#">下一頁</a></li>
      </ul>
    </div>
</div>