@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

//@import './helper/variables.scss';
@import './helper/mixins.scss';
@import './helper/utils.scss';

@import './base/reset.scss';
@import './base/base.scss';

@import './layout/grid.scss';
@import './layout/header.scss';
@import './layout/footer.scss';
@import './layout/page_num.scss';

@import './pages/index.scss';
@import './pages/blog.scss';


.blog-info-nav {
    background: #650300;
    color: #ffffff;
    margin-bottom: 24px;

    @include pad {
        margin-bottom: 8px;
    }
    @include mobile {
        margin-bottom: 16px;
    }
}
.blog-info-nav .blog-menu li {
    margin-right: 48px;
}
.blog-info-nav .blog-menu li a {
    display: block;
    padding: 12px;
}

@media (max-width:767px) {
    .d-sm-none {
        display: none;
    }
    .blog-menu li {
        margin-right: 16px;
    }
    .blog-menu li:last-child {
        margin-right: 0;
    }
}

.breadcrumbs {
    margin-bottom: 8px;
}

.crumb-li:not(:last-child)::after {
    content: ' / ';
    margin-right: 4px;
}

.crumb-li:last-child {
    color: #aa0601;
}

.blog-tags {
    color: #aa0601;
    font-size: 24px;
    font-weight: bold;
}

.blog-data {
    width: calc(60% - 12px);
    margin-right: 24px;
    @include mobile {
        width: 100%;
    }
}

.blog-info-title {
    font-size: 48px;

    @include mobile {
        font-size: 24px;
    }
}
.blog-info-brief {
    font-size: 24px;
    font-weight: 500;

    @include mobile {
        font-size: 16px;
    }
}
.blog-share img {
    width: 24px;
}

.blog-detail-text {
    font-weight: 400;
}


.blog-pgae-social {
    width: calc(60% - 12px);

    @include pad {
        width: 100%;
    }
}

.blog-share {
    font-weight: 500;
    border-bottom: 1px solid #707070;
    margin-bottom: 24px;
    padding-bottom: 16px;
}

.blog-share {
    font-weight: 500;
    margin-bottom: 24px;
    padding-bottom: 16px;
}

.blog-prev-next {
    margin-bottom: 24px;
}

@include mobile {
    .blog-share {
        display: none;
    }
    .blog-prev-next {
        display: none;
    }
}


.blog-more-tags {
    width: 40%;
    color: #aa0601;
    @include mobile {
        display: none;
    }
}

.blog-tags-title {
    font-size: 38px;
    font-weight: bold;
}

.blog-more-tags li {
    font-size: 24px;
    font-weight: bold;

    @include pad {
        font-size: 16px;
    }
}