/* banner */
.banner {
    color: #650300;
    height: 787px;
    background-size: cover;
    background-position: center;
    background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true') no-repeat top;
    background-size: cover;

    @include pad {
        max-width: 720px;
    }
    @include mobile {
        max-width: 372px;
    }
}
.banner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
    padding-left: 12px;
    padding-right: 12px;
}
.banner-content p {
    font-size: 36px;
}
.banner-content h2 {
    font-size: 64px;
    font-weight: bold;
}
.banner-btn {
    font-size: 20px;
}

.banner-btn a {
    display: inline-block;
    background: #aa0601;
    color: #ffffff;
    padding: 6px 12px;
}


@media (max-width:992px) {
    .banner {
        background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true') no-repeat top;
        background-size: cover;
    }

    .banner-content p {
        font-size: 16px;
    }
    .banner-content h2 {
        font-size: 24px;
    }
}
@media (max-width:767px) {
    .banner {
        height: 396px;
    }
}


/* major */
.major {
   padding-top: 80px;
   padding-bottom: 80px;
   background: #fbf2f2;
}
@media (max-width:576px) {
    .major {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.major .container {
    align-items: center;
    flex-direction: column;
}

.major-title {
    color: #650300;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 32px;
}
@media (max-width:767px) {
    .major-title {
        font-size: 24px;
    }
}

.major .h3 {
    color: #650300;
    font-size: 24px;
    font-weight: bold;
}

/* .card {
    width: calc(25% - 12px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    margin-right: 0.333%;
}

@media (max-width:576px) {
    .card {
        width: 100%;
        margin-right: 0;
    }
} */


/* 容器與內容分離 */
.major .card-row {
    margin-right: -12px;
    margin-left: -12px;
}

.major .column {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}
.major .card {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.major-img {
    width: 83.33px;
}
.major-img-last {
    width: 100px;
}
@media (max-width:992px) {
    .major .column {
        width: 50%;
    }
}
@media (max-width:767px) {
    .major .column {
        width: 100%;
    }
}


/* classic */
.classic {
    padding-top: 80px;
    padding-bottom: 80px;
 }
 @media (max-width:576px) {
    .classic {
        padding-top: 40px;
        padding-bottom: 40px;
    }
 }

.classic .container {
    align-items: center;
    flex-direction: column;
}

.classic-title {
    color: #650300;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}
@media (max-width:576px) {
    .classic-title {
        font-size: 24px;
        margin-bottom: 24px;
    }
}

.classic .h3 {
    color: #aa0601;
    font-size: 48px;
    font-weight: bold;
}


/* 容器與內容分離 */
.classic .card-row {
    margin-right: -12px;
    margin-left: -12px;
}

.classic .column {
    width: 33.333%;
    padding-left: 12px;
    padding-right: 12px;
}
.classic .card {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
}
.classic img {
    margin-bottom: 8px;
}
@media (max-width:992px) {
    .classic .card-row {
        flex-direction: column;
        align-items: center;
    }
    .classic .column {
        width: 50%;
    }
}
@media (max-width:767px) {
    .classic .column {
        width: 100%;
    }
}


/* signed */
.signed {
    background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true') no-repeat center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}
@media (max-width:767px) {
    .signed {
        background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true') no-repeat top;
        background-size: cover;
    }
}

.signed .container {
    align-items: center;
    flex-direction: column;
}

.signed-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}
@media (max-width:576px) {
    .signed-title {
        font-size: 24px;
        margin-bottom: 24px;
    }
}

.signed .card-row {
    margin-right: -12px;
    margin-left: -12px;
}

.signed .column {
    width: 50%;
}
.signed .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signed .h3 {
    width: 100%;
    color: #aa0601;
    font-size: 48px;
    font-weight: bold;
    background: #ffffff;
    text-align: center;
}

@media (max-width:767px) {
    .signed .container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .signed .column {
        width: 100%;
        margin-bottom: 24px;
    }
}

/* customer */
.customer {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
}
.customer .container {
    align-items: center;
    flex-direction: column;
}

.customer-title {
    color: #650300;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}

.customer-name {
    font-weight: medium;
}
@media (max-width:576px) {
    .customer-title {
        font-size: 24px;
        margin-bottom: 24px;
    }
}

.customer .card-row {
    margin-right: -12px;
    margin-left: -12px;
}

.customer .column {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}
.customer .card {
    height: 511px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DEE2E6;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}
.customer-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.customer-date {
    color: #707070;
    margin-top: auto;
}

@media (max-width:992px) {
    .customer .column {
        width: 50%;
        margin-bottom: 16px;
    }
}


@media (max-width:767px) {
    .customer .column {
        width: 100%;
        margin-bottom: 16px;
    }
}

/* contact */
.contact {
    background: #fbf2f2;
}
.contact .container {
    max-width: 636px;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width:767px) {
    .contact .container {
        max-width: 348px;
    }
}

.contact-title {
    color: #650300;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}

.contact .desc {
    font-size: 20px;
    padding-bottom: 20px;
}

.contact-form {
    width: 100%;
}

.contact-form .label {
    display: block;
    margin-bottom: 8px;
}

.contact-form .inp {
    width: 100%;
    height: 36px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    padding: 6px 12px;
}

.contact-form .contact-textarea .inp {
    width: 100%;
    height: 136px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    padding: 6px 12px;
}

.contact-checkbox {
    margin-bottom: 48px;
}

.contact-checkbox .checkbox {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.contact-btn {
    padding: 16px 172px;
    color: #ffffff;
    background: #aa0601;
}
.contact-btn:hover {
    background: #650300;
}

@media (max-width:767px) {
    .contact-btn {
        width: 100%;
        padding: 16px 0;
    }
    .contact-title {
        font-size: 24px;
    }
}