<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <nav class="blog-info-nav">
        <div class="container-full d-flex justify-content-between align-items-center justify-sm-content-center">
          <ul class="d-flex blog-menu">
            <li><a href="#">最新消息</a></li>
            <li><a href="#">特別企劃</a></li>
            <li><a href="#">新品上市</a></li>
            <li><a href="#">鏡框小知識</a></li>
          </ul>
          <span class="d-sm-none material-symbols-outlined fs-29">
            search
          </span>
        </div>
    </nav>

    <div class="breadcrumbs">
      <ul class="container d-flex">
        <li class="crumb-li"><a href="./">首頁</a></li>
        <li class="crumb-li"><a href="blog.html">部落格</a></li>
        <li class="crumb-li"><a href="blog.html">特別企劃</a></li>
        <li class="crumb-li"><a href="blog_info.html">情人特別企劃</a></li>
      </ul>
    </div>

    <div class="blog-tags">
      <ul class="container d-flex">
        <li class="tags-li mr-15"><a href="#">#special</a></li>
        <li class="tags-li"><a href="#">#event</a></li>
      </ul>
    </div>

    <div class="blog-info">
      <div class="container d-flex">
        <div class="blog-data">
          <h2 class="blog-info-title">情人特別企劃</h2>
          <div class="blog-info-brief">2020 Valentine’s Special</div>

          <div class="d-flex flex-cloumn blog-detail">
            <img class="mb-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-1.png?raw=true" alt="page-img1">

            <div class="mb-6 blog-detail-text">
              <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            </div>
            <img class="mb-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-2.png?raw=true" alt="page-img2">

            <div class="mb-6 blog-detail-text">
              <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            </div>
            <img class="mb-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-3.png?raw=true" alt="page-img3">

            <div class="mb-6 blog-detail-text">
              <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            </div>
            <img class="mb-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-4.png?raw=true" alt="page-img4">

            <div class="mb-10 blog-detail-text">
              <p>
                2/14(五)-2/20(日)<br />
                至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br />
                期間優惠還有~~持他牌鏡框更換鏡片 <br />
                薄型非球面鏡片折300元<br />
                濾藍光鏡片折500元 快快帶上另一半 <br />
                讓彼此每一次睜開眼，都被愛的視線包圍!
              </p>
            </div>
          </div>
        </div>
        <div class="blog-more-tags">
          <h3 class="d-flex align-items-center blog-tags-title">
            <span class="material-symbols-outlined fs-38">label</span>TAGS
          </h3>

          <ul>
            <li><a href="#" class="mr-24">#special</a><a href="#">#sale</a></li>
            <li><a href="#">#new_item</a></li>
            <li><a href="#">#interview</a></li>
            <li><a href="#" class="mr-24">#trivia</a><a href="#">#news</a></li>
            <li><a href="#">#event</a></li>
          </ul>
        </div>
      </div>

      <div class="container ">
        <div class="blog-pgae-social">
          <div class="blog-share">
            <ul class="d-flex">
              <li class="mr-16">Share</li>
              <li class="mr-16"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-facebook.png?raw=true" alt=""></a></li>
              <li><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-instagram.png?raw=true" alt=""></a></li>
            </ul>
          </div>

          <div class="blog-prev-next">
            <ul class="d-flex justify-content-between">
              <li><a href="#" class="d-flex justify-content-between"><span class="material-symbols-outlined">
                arrow_back
                </span><p>上一篇：街頭潮人訪問 1</p></a></li>
              <li><a href="#" class="d-flex justify-content-between"><p>下一篇：街頭潮人訪問 2</p><span class="material-symbols-outlined">
                arrow_forward
                </span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
